*.pyc
*.save
*.old
*~
*.swp
*.log
*.out
eggs
develop-eggs
develop-src
*.egg-info
.installed.cfg
parts
dist
example.db
assets
media
.local.cfg
local_settings.py
db_settings.py
log
.site.cfg
*/src/nginx

